<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <body> -->
<header class="top-bar h-[120px] bg-[#ddf6ff]">
     <div class="con h-full flex">
          <a href="#" class="logo flex items-center">
            <img src="/images/logo.png"  alt="" class="logo">
          </a>
          <div class="menu-wrap ml-auto flex flex-col">

            <div class="top-bar__inner_wrap flex flex-grow items-center justify-end mr-[50px]">
              <ul class="flex">
                <li><a href="login" class="">Sign in</a></li>
                <li><a href="#" class="">etc</a></li>
                <li><a href="search.html" class="">검색</a></li>
              </ul>
              <p class="search-btn">
                <a href="#">
                <img src="assets/images/icon_black.png" alt="">
              </a>
              </p>
            </div>

            <nav class="top-bar__menu-1 h-[66px]">
              <ul class="flex h-full">
                <li>
                  <a href="intromain.html">은행 소개</a>
                  <div class="menu-1__sub-menu">
                    <div class="con">
                      <ul class="flex">
                        <li class="flex-1">
                          <a href="history.html">역사</a>
                       
                        <li class="flex-1">
                          <a href="chart.html">연혁</a>
                          <ul>
                            <li><a href="????">조직도</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                <li>
                  <a href="transmain.html">조회/이체/출금</a>
                  <div class="menu-1__sub-menu">
                    <div class="con">
                      <ul class="flex">
                        <li class="flex-1">
                          <a href="view.html">조회</a>
                          </li>
                          <li class="flex-1">
                          <a href="transfer.html">이체</a>
                          <ul>
                            <li><a href="autosend.html">자동이체</a></li>
                            <li><a href="reservesend.html">예약이체</a></li>
                            <li><a href="directsend.html">즉시이체</a></li>
                          </ul>
                        </li>
                        <li class="flex-1">
                          <a href="????">출금</a>
                          <ul>
                            <li><a href="#">조직도</a></li>
                          </ul>
                          </li>
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                <li>
                  <a href="prodtmain">금융상품</a>
                  <div class="menu-1__sub-menu">
                    <div class="con">
                      <ul class="flex">
                        <li class="flex-1">
                          <a href="deposit.html">예금</a>
                          <ul>
                            <li><a href="signupprodt.html">상품가입</a></li>
                            <li><a href="check.html">해지/조회</a></li>
                            <li><a href="introprodt.html">상품안내</a></li>
                          </ul>
                          </li>
                          <li class="flex-1">
                          <a href="loan.html">대출</a>
                          <ul>
                            <li><a href="applyloan.html">대출신청</a></li>
                            <li><a href="myapply.html">신청현황</a></li>
                            <li><a href="myloan.html">대출관리</a></li>
                          </ul>
                          </li>
                          <li class="flex-1">
                          <a href="listprodt.html">상품목록</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                <li>
                  <a href="consultmain.html">고객센터 </a>
                  <div class="menu-1__sub-menu">
                    <div class="con">
                      <ul class="flex">
                        <li class="flex-1">
                          <a href="faq.html">FAQ</a>
                          </li>
                          <li class="flex-1">
                          <a href="consult.html">상담</a>
                          <ul>
                            <li><a href="mailconsult.html">이메일상담</a></li>
                            <li><a href="chatconsult.html">챗봇상담</a></li>
                          </ul>
                          </li>
                          <li class="flex-1">
                          <a href="terms.html">약관</a>
                    
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                <li>
                  <a href="mymain.html">마이페이지</a>
                  <div class="menu-1__sub-menu">
                    <div class="con">
                      <ul class="flex">
                        <li class="flex-1">
                          <a href="myinfo.html">나의정보변경</a>
                          <ul>
                          
                            <li><a href="????">비밀번호변경</a></li>
                          </ul>
                          </li>
                          <li class="flex-1">
                          <a href="mydate.html">금융일정관리</a>
                          </li>
                          <li class="flex-1">
                          <a href="mymbership.html">나의우대등급</a>
                          </li>
                          <li class="flex-1">
                          <a href="myvisited.html">최근접속이력</a>
                    
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                </ul>
                </nav>
                
              <!--
              <ul class="flex h-full">
                <li><a href="#">은행 소개</a></li>
                <li><a href="#">조회/이체/출금</a></li>
                <li><a href="#">금융상품</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">마이페이지</a></li>
                <li><a href="#">기타</a></li>
              </ul>
              -->
            </nav>
          </div>
        </div>
</header>
<!-- </body> -->