@charset "UTF-8";
/* 전체 폰트 설정 */
body {
  font-family: Arial, sans-serif;
  margin-left: 35% ;
  margin-top: 4%;
  
}

form{
/* 	background-color:  rgb(200,200,255); */
	width: 500px;
	padding: 30px;
}

/* 전체 너비 설정 */
.container {
  max-width: 800px;
  padding: 20px;
}

/* 제목 스타일 설정 */
h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
/*   margin-top: 40px; */
}

/* 약관 Viewer 스타일 설정 */
.u-agreements {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  width: 300px;
 margin-left: 80px;
}

/* 테이블 스타일 설정 */
.tType02 {
  margin-top: 20px;
  border-collapse: collapse;
  width: 400px;
  font-size: 14px;
/*   text-align: left; */
}

.tType02 th,
.tType02 td {
  padding: 10px;
}

.tType02 th {
  width: 19%;
  vertical-align: top;
  font-weight: bold;
}

.tType02 td input[type="text"],
.tType02 td input[type="password"],
.tType02 td input[type="button"] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.tType02 td .rad_input {
  margin-top: 10px;
}

.tType02 td label {
  display: inline-block;
  margin-right: 10px;
  font-weight: normal;
}

.tType02 td .btn {
  display: inline-block;
  margin-left: 10px;
}

.tType02 td .caution {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

/* 버튼 스타일 설정 */
.btnArea {
  margin-top: 20px;
/*   text-align: center; */
}

.btnArea .btn {
  margin: 0 10px;
}

.btnArea .btn input[type="button"] {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.btnArea .btn.action input[type="button"] {
  background-color: #0c67a3;
  color: #fff;
}

.btnArea .btn.action input[type="button"]:hover {
  background-color: #0a5391;
}

