<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
<a href="index.html">홈</a>
	<div>
		<h2>고객센터 메인 메뉴</h2>
	</div>

	<!-- 고객센터 메인 화면 배너 -->
	<div class="essentialMenuWrapper">
		<div class="mainVisualArea">
			<h3 class="readonly">배경 이미지</h3>
			<div class="mainImage">
				<img src="" alt="고겍센터 배경 이미지" />
			</div>

			<!-- 배경 내에 주요 페이지에 바로 갈 수 있도록 링크 걸어두기 -->
			<div class="menuLink">
				<div class="linkBoxInfoMg">
					<h3>고객정보관리 바로 가기 메뉴</h3>
					<ul>
						<li><a href="">ID조회 / 암호 재설정</a></li>
						<li><a href="">고객정보 조회 / 수정</a></li>
						<li><a href="">온라인 고객관리</a></li>
						<li><a href="">온라인 금융센터</a></li>
						<li><a href="">그룹 내 고객정보 제공 안내</a></li>
					</ul>
				</div>
				<div class="linkBoxConsult">
					<h3>고객상담 바로 가기 메뉴</h3>
					<ul>
						<li><a href="chatmain.html">챗봇/채팅/이메일상담</a></li>
						<!-- 화상 상담 관련 
					<li id="vConsult"  style="display:none;" >
						<a href="#" onclick="javascript:goPctrCounsel();">화상상담</a>
					</li>
					 -->
						<li><a href="/history">나의 상담내역</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- faq 에 대한 검색 -->
	<div class="Userquestion">
		<div class="findCnt">
			<form name="faqSearchForm" id="faqSearchForm" action="faq.html"
				method="get">
				<label for="srcName">자주 찾는 질문을 찾아보세요.</label>
				<!-- input의 title: input 영역에 마우스를 올렸을 때 출력되는 문장을 작성 -->
				<input type="text" name="검색어" id="srcName" value="" class="seaInp"
					onfocus="" title="자주묻는질문 검색어 입력" placeholder="검색어를 입력하세요." /> <input
					type="hidden" name="page" value="" /> <input type="hidden"
					name="검색설정명" id="검색설정명" value="faq" /> <input type="hidden"
					name="검색출력량" id="검색출력량" value="10" /> <input type="hidden"
					name="검색페이지번호" id="검색페이지번호" value="1" />
				<!-- 후에 type 을 button으로 변경해 js를 이용해 검사 후 값을 넘길 수 있음  -->
				<button id="searchBtn" type="submit" class="btn_go">검색</button>
			</form>
		</div>
	</div>

	<!-- 소비자 정포 포털 ..  소비자 보호를 위헤 제공하는 정보 -->
	<div class="customerPotal">
		<div class="cutomerPortalTell">
			<h3>소비자정보포털</h3>
			<dl class="txt">
				<dd>금융소비자보호를 위해 제공하는 정보입니다.</dd>
			</dl>
		</div>

		<ul class="infoLinks">
			<li class="cl1"><a href="">소비자보호 체계</a></li>
			<li class="cl2"><a href="">민원창구</a></li>
			<li class="cl3"><a href="">금융정보광장</a></li>
			<li class="cl1 rw2"><a href="">소비자보호 우수사례</a></li>
			<li class="cl2 rw2"><a href="">금융소비자보호공시</a></li>
			<li class="cl3 rw2"><a href="">경제&middot;금융교육</a></li>
		</ul>
	</div>

	<!-- 이용자를 위한 배너 메뉴 -->
	<div class="customerBanner">
		<ul class="col3">
			<li class="box01"><a href=""><img src=""
					alt="사고신고 :연중무휴 24시간 접수 9999-9999, 8888-9999" /></a></li>
			<li class="box02"><a href=""><img src="" alt="고객우대제도" /></a></li>
		</ul>
	</div>

	<!-- 사용자가 도움을 신청할 떄 가능한 정보 -->
	<div class="customerHelpDesk">
		<h3 class="readonly">Help Desk 도움이 필요하세요?</h3>
		<div class="box01">
			<h4>고객상담전화</h4>
			<ul class="noticeList">
				<li>국내 1644-9999,1599-9999</li>
				<li>해외 +82-2-6300-9999</li>
				<li>상담전용 1800-9999 (분실 및 사고신고 제외)</li>
				<li>전자금융사고예방 1577-9999</li>
				<li>외국인전용 1599-4477 (Foreigner)</li>
				<li>어르신전용 1644-3308</li>
				<li>수화상담 070-7451-9901(9902)</li>
				<li>대출 단기연체 및 만기안내<br /> 국내 1588-9008,1566-9008<br /> 해외
					+82-42-603-0711
				</li>
				<li>투자상품 승낙확인<br /> 국내 1833-3938<br />
				</li>
			</ul>
		</div>
		<div class="box02">
			<h4>상담시간안내</h4>
			<ul class="noticeList">
				<li>예금/대출/인터넷/스타뱅킹 상담<br /> 24시간<br />
				</li>
				<li>사고신고/자동화기기 24시간</li>
				<li>전자금융사고예방 24시간</li>
				<li>챗봇/채팅상담 24시간</li>
				<li>어르신전용/수화상담 평일 09:00~18:00</li>
			</ul>
		</div>
		<div class="box03">
			<h4>콜백서비스 안내</h4>
			<ul class="noticeList">
				<li>대상업무 : 야간/휴일/외국어 상담</li>
			</ul>
		</div>
	</div>

	<form name="FeedBack" method="post" action="">
		<input type="hidden" name="페이지코드" id="pageCode" value="osupp" /> <input
			type="hidden" name="컴포넌트코드" id="ComponentCode" value="" /> <input
			type="hidden" name="로그인여부" id="strLoginYn" value="N" />
	</form>
</div>
</body>
</html>