<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
<h1><a href="main">고객페이지 메인</a></h1>
<a href="index.html">홈</a>

<div class="faqTitle">
	<h2>FAQ (자주하는 질문)</h2>
</div>
  <!-- Q&A title 표시...ajax? -->
  <div class="category_buttons">
        <div class="container">
        	<div class="q&a_button">
    			<button type="button" class="top10" onclick="">TOP 10</button>        
    			<button type="button" class="personal" onclick="">개인 인터넷뱅킹</button>        
    			<button type="button" class="certificate" onclick="">인증서</button>        
    			<button type="button" class="homepage" onclick="">홈페이지</button>        
    			<button type="button" class="smartBank" onclick="">스마트뱅킹</button>        
        	</div>
        </div>
    </div>

  	<!-- FAQ 내용 출력 -->
    <div id="faqList">
        <div class="container">
            <table class="FAQ-table">
                <thead>
                <tr>
                    <th scope="col" class="idx">no.</th>
                    <th scope="col" class="th-title">제목</th>
                </tr>
                </thead>
                <tbody>
     			<!-- Thymeleaf each문 사용해서 q & a 내용 끝고 오기 --> 
                <tr>
                    <td>1</td>
                    <th><a href="#!">이용해주셔서 감사합니다</a></th>
                </tr>

                <tr>
                	<td>2</td>
                    <th><a href="#!">이용해주셔서 감사합니다</a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- 검색 -->
    <div id="faq-search">
        <div class="container">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <label for="search" class="blind">검색</label>
                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>