<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
자동이체정보
<table>
	<tr>
		<td>출금계좌</td>
		<td>입금은행<br/>
			입금계좌</td>
		<td>받는 분</td>
		<td>이체금액(원)</td>
		<td>이체기간</td>
		<td>이체주기</td>
		<td>받는통장<br/>
			메모</td>
		<td>내통장메모</td>
	</tr>
	<tr>
		<td>110-322-587490</td>
		<td>기업<br/>
			01050963341</td>
		<td>서정욱</td>
		<td>100</td>
		<td>2023.03.27~<br/>
			2024.03.26</td>
		<td>1개월</td>
	</tr>
</table>
<table>
<tr>
<td>
보안매체 정보입력<br/>
여기에 관련해서는 OTP인증을통해서 진행되는 링크가 필요함.
</td>
</tr>
</table>
</div>
</body>
</html>