<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<body>
	<div layout:fragment="content">
		<!-- 1번 sendmoney가 되어있는 상태에서 2번sendmoney가 이어짐 -->
		<div>
			<span>출금계좌</span> <span>입금은행 입금계좌</span> <span>받는분</span> <span>이체금액(원)</span>
			<span>수수료(원)</span> <span>받는통장메모</span> <span>내통장메모</span> <span>CMS코드</span>
		</div>
		<div>
			<span>110-322-587490</span> <span>기업 01050963341</span> <span>서정욱</span>
			<span>10</span> <span>0</span> <span></span> <span></span> <span></span>
		</div>
		<hr />
		<span>수수료우대</span> <span>500원</span> <span>우대사유</span> <span>신한
			주거래 우대통장 추가우대(생활)</span> >고객님이 입력하신 이체정보입니다. 최종거래 전에 입금은행 계좌번호와 이체금액, 받는 분
		성함을 다시 한번 확인 후 이체하여 주시기 바랍니다.
		<hr />
		<div>보안매체 정보입력</div>
		<span>모바일 OTP 인증을 진행합니다. 아래 인증요청을 눌러주세요.</span> <span>아래 인증요청
			버튼을 클릭 후 스마트폰에서 PIN번호 입력을 통해 모바일 OTP 인증을 진행해 주시기 바랍니다.</span>
		<hr />
		<span>※ 반드시 발송된 PUSH를 통해서 App을 실행해 주시기 바라며,신한 쏠(SOL)최신 버전이 아닌
			경우 업데이트 해주시기 바랍니다.</span> <span>신한 쏠(SOL) 자동 로그인을 설정하신 고객의 경우 모바일OTP
			인증요청 전에 신한 쏠(SOL)을 실행하시면 인터넷 뱅킹이 로그아웃 처리될 수 있으므로 이 점 유의하시</span> <span>기
			바랍니다.</span> <span>고객님의 스마트폰으로 인증요청 PUSH가 오지 않는 경우,아래 결로에서 인증을 진행해
			주시기 바랍니다.</span> <span>비로그인 상태에서 [ 메뉴:신한(SOL)>전체메뉴>설정/인증>보안매체
			전체보기>모바일OTP인증]</span><br /> <input type="button" value="인증요청"><br />
		<input type="button" value="취소">
		<!-- 취소를누를경우 모든 내용들을 reset한다. -->
		<input type="button" value="이체실행">
	</div>
</body>
</html>